<div class="container footer">

    <div class="pfs-footer">
        <img class="pfs-footer-img" src="../../assets/images/PFS-footer.png">
        <p>© PFS. All rights reserved. Website by<br> Creative eWorld Pte Ltd.</p>
    </div>

    <div class="nav-footer-container">
        <div class="footer-nav">
            <a href="#">Our Quality and Policies</a><br>
            <a href="#">Careers</a><br>
            <a href="#">Staff Login</a><br>
        </div>

        <div class="footer-icons">
            <img src="../../assets/images/socialmediaIcons.png">
        </div>
    </div>
</div>