<div class="container footer">

    <div class="pfs-footer">
        <img class="pfs-footer-img" src="{{envPath}}/images/PFS-footer.png">
        <p>© PFS. All rights reserved. Website by<br> Creative eWorld Pte Ltd.</p>
    </div>

    <div class="nav-footer-container">
        <div class="footer-nav">
            <a (click)="navigateFooter('quality')">Our Quality and Policies</a><br>
            <a  (click)="navigateFooter('careers')">Careers</a><br>
            <a href="https://mx1.pfspl.com.sg/" target="_blank">Staff Login</a><br>
        </div>

        <div class="footer-icons">
            <img src="{{envPath}}/images/socialmediaIcons.png">
        </div>
    </div>
</div>