<div class="container footer">

    <div class="pfs-footer">
        <img class="pfs-footer-img" src="{{envPath}}/images/PFS-footer.png">
        <p>© PFS. All rights reserved. Website by<br> Creative eWorld Pte Ltd.</p>
    </div>

    <div class="nav-footer-container">
        <div class="footer-nav">
            <a routerLink="/quality-and-policies">Our Quality and Policies</a><br>
            <a href="#">Careers</a><br>
            <a href="#">Staff Login</a><br>
        </div>

        <div class="footer-icons">
            <img src="{{envPath}}/images/socialmediaIcons.png">
        </div>
    </div>
</div>