<div class="container properties">
    <app-labeled-banner>
         <img src="../../../assets/images/properties-banner.png">
          <h1>Our Properties</h1>
    </app-labeled-banner>

    <div class="property-container">
        <app-header-rich-text>
            <h5>OUR PROPERTIES</h5>
            <h4>Explore some of our portfolio<br> 
            properties under our care</h4>
            <p>Our average years of service across all our<br>
             properties is 13 years, our properties thrive<br>
            under meticulous management<br> 
            and unwavering dedication to client satisfaction. Our enduring relationships <br>
            symbolize reliability, integrity, and a proven<br> 
            track record of success.</p>
        </app-header-rich-text>
        
    </div>

    <div class="property-list-container">
        <div class="mcst-container">
            <app-property-title>
                <h1>MCST</h1>
            </app-property-title>

            <app-property-item>
                <ul>
                    <li>
                        <img src="../../../assets/images/raffles.png">
                        <p>6 Raffles Quay- 25-storey commercial building</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/scotts.png">
                        <p>15 Scotts (Former Thong Teck Building) – 9-storey 96,488 sqft commercial building</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/penhas.png">
                        <p>32 Penhas- 43,992 sqft residential development</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/asian.png">
                        <p>Asian Pastorial Institute – 6 storey commercial building</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/b&d.png">
                        <p>B&D Building – B1 Industrial Building</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/bukit.png">
                        <p>Bukit Regency – 224 units residential development</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/casa.png">
                        <p>Casa Al Mare – 49 units residential development</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/cavenagh.png">
                        <p>Cavenagh House - 46 units residential development</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>Chiltern Park – 500 units residential development</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>Charleston – 48 units residential development</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>Claymore Plaza- 24 units residential mixed used development</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>Evania – 35 units residential development</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>Evergreen Park – 394 units residential development</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>Far East Finance – 12 storey commercial Building</p>
                    </li>
                </ul>
            </app-property-item>
        </div>

        <div class="non-mcst-container">
            <app-property-title>
                <h1>NON-MCST</h1>
            </app-property-title>

            <app-property-item>
                <ul>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>Singapore Mission &#64; Beijing</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>Singapore Mission &#64; Laos</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>ESSEC Business School, Asia-Pacific</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>ZF Asia Pacific Pte Ltd /HQ</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>Soilbuild Construction</p>
                    </li>
                    <li>
                        <img src="../../../assets/images/no-property.png">
                        <p>B&D Building – B1 Industrial Building</p>
                    </li>
                    
                </ul>
             </app-property-item>
        </div> 
    </div>  

</div>