<div class="container home-banner-nav-component">

<figure class="banner-img-container image">
    <div class="home-banner-container">
    <img class="home-banner-img" src="{{envPath}}/images/gardens-desktop.jpg">
    </div>
    <figcaption>
        <div class="figcaption-container">
        <h1>ABOUT PFS</h1>
        <p class="tagline">Singapore's <br> leading and fastest<br>
        <a href="/about-us#about" >READ MORE &nbsp;&nbsp;&nbsp;></a>
        </div>
    </figcaption>
    
</figure>
    
</div>
