<div class="container contact-us">
    <app-labeled-banner>
         <img src="../../../assets/images/contact-us-banner.png">
          <h1>Contact us</h1>
    </app-labeled-banner>

    <div class="property-container">
        
        <div class="promo">
            <div class="promo-image-container">
                <img src="../../../assets/images/property-promo.png">
            </div>

            <div class="address-container">
            <h4>PROPERTY FACILITY SERVICES PTE LTD</h4><br>
            <p>430 Lorong 6 Toa Payoh, Building,<br>
            #10-01 OrangeTee, 319402<br><br>
            <span class="label-title">Telephone:</span><br>
            +65 6221 1313<br><br>
            <span class="label-title">Email:</span><br>
            xianyong.lim&#64;pfspl.com.sg<br><br>
            <span class="label-title">Operating Hours:</span><br>
            8.30am to 5.30pm (Mondays to Fridays)
            </p>
            </div>
        </div>
        
    </div>

    <div class="connect-container">
        <div class="message-container">
            <h3>CONNECT WITH US!</h3>
            <p>We would be pleased to meet up with you<br class="d-none d-sm-block d-md-none">
             for a private consultation, to find out more<br class="d-none d-sm-block d-md-none">
            about your needs and how we can customise<br class="d-none d-sm-block d-md-none">
            our<br class="d-none d-lg-block"> solutions to meet better meet your<br class="d-none d-sm-block d-md-none">
            requirements. Please send us your enquiries by<br class="d-none d-sm-block d-md-none">
            submit the form below.</p>
        </div>
<div [formGroup]="contactForm">
        <div class="form-container">
            <div class="row">
                <div class="form-item">
                <label for="name">Name* </label><br>
                <input id="name" type="text" formControlName="name">
                    @if(contactForm.controls['name'].hasError('required') && (contactForm.controls['name'].dirty || contactForm.controls['name'].touched)){
                            <span class="text-danger">This field is required</span>
                    }
                </div>
                
                <div class="form-item">
                <label for="company">Company / MCST: </label><br>
                <input id="company" type="text" formControlName="company">
                     @if(contactForm.controls['company'].hasError('required') && (contactForm.controls['company'].dirty || contactForm.controls['company'].touched)){
                            <span class="text-danger">This field is required</span>
                    }
                </div>
            </div>

            <div class="row">
                <div class="form-item">
                <label for="email">Email* </label><br>
                <input id="email" type="text" formControlName="email">
                		@if(contactForm.controls['email'].hasError('required') && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)){
                            <span class="text-danger">This field is required</span>
                        }
                        @if(contactForm.controls['email'].hasError('pattern') && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)){
                            <span class="text-danger">Please enter valid email address or phone number</span>
                        }
			            
                </div>
                <div class="form-item">
                <label for="phone">Phone</label><br>
                <input id="phone" type="text" formControlName="phone">
                    @if(contactForm.controls['phone'].hasError('required') && (contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched)){
                            <span class="text-danger">This field is required</span>
                        }
                        @if(contactForm.controls['phone'].hasError('pattern') && (contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched)){
                            <span class="text-danger">Please enter valid email address or phone number</span>
                        }
                </div>
            </div>

             <div class="row">
                <label for="email">Message* </label><br>
                <textarea id="email" type="text" formControlName="message"></textarea>
                    @if(contactForm.controls['message'].hasError('required') && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)){
                            <span class="text-danger">This field is required</span>
                    }
            </div>

            <div class="row">
                <div class="form-item">
                <label for="email">Verification code* </label><br>
                <input id="verificationCode" type="text" formControlName="verificationCode">
                    @if(contactForm.controls['verificationCode'].hasError('required') && (contactForm.controls['verificationCode'].dirty || contactForm.controls['verificationCode'].touched)){
                            <span class="text-danger">This field is required</span>
                    }
                    @if(contactForm.controls['verificationCode'].hasError('stringEquality') && (contactForm.controls['verificationCode'].dirty || contactForm.controls['verificationCode'].touched)){
                            <span class="text-danger">Incorrect captcha</span>
                        }
                </div>
                <div class="form-item">
                <label class="captcha">{{captchaValue}}</label><br>
                </div>
            </div>

            <div class="row">
                <button (click)="submit()">Submit</button>
                @if(formError){
                        <span class="text-danger text-center">Enter the correct value first</span>
                }
            </div>
        </div>
</div>
    </div>
</div>