<div class="container staff-and-services">
    <app-labeled-banner>
            <img class=" d-sm-block d-md-block d-lg-none d-xl-none" src="../../../assets/images/careers-mob.png">
            <img class=" d-sm-none d-md-none d-lg-block d-xl-block" src="../../../assets/images/careers.png">
          <h1>Staff and services</h1>
    </app-labeled-banner>

    <div class="staff-and-services-container">
        <app-header-rich-text>
            <h5>EMPLOYEE PORTAL</h5>
            <h4>Staff Services</h4>
            <p>Only PFS employees may access the services below.</p>
        </app-header-rich-text>
        
    </div>

    <div class="staff-and-services-action-container">
        <a href="https://mx1.pfspl.com.sg/">
        <div class="staff-and-services-item">
            <div class="title">
                <h2>RECOVER YOUR EMAIL</h2>
            </div>

            <div class="action">
                <h1>Retrieve Email</h1>
            </div>

            <div class="desc">
                <p></p>
            </div>
        </div>
        </a>

        <a href="https://hrms.pfspl.com.sg/">
        <div class="staff-and-services-item">
            <div class="title">
                <h2>FILE A LEAVE</h2>
            </div>

            <div class="action">
                <h1>Apply Leave</h1>
            </div>

            <div class="desk">
                <p></p>
            </div>
        </div>
        </a>
    </div>

</div>