<div class="container quality">
    <app-labeled-banner>
         <img src="../../../assets/images/quality-and-policies.jpg">
          <h1>Our Quality and Policies</h1>
    </app-labeled-banner>

    <div class="content-container">
        <div class="content1-container">
            <h4>ISO Policy</h4>
            <p>PFS is committed to the effectiveness of our Quality Management System through continuous improvement to enhance customer satisfaction by providing property and facility management services that meet customers’ and legal requirements.</p>
        </div>

         <div class="content2-container">
            <div class="title">
            <h4>WSH & Security Policy</h4>
            </div>
            <div class="content">
            <p>PFS is committed to provide a healthy, safe and secure environment for our employees, suppliers, contractors, visitors and clients at our workplace. We will embrace SGsecure to strengthen the vigilance and resilience of our workplace to withstand terror attacks.</p>
            <p>Our WSH Objectives are:<br>
            1. Zero legal non-compliance accident per year<br>
            2. Zero Fatal accident per year</p>
            <p>The Management shall aim to:<br>
             &#8226; &nbsp;Establish WSH standards for our safety and health performance against the realistic objectives and targets in the prevention/reduction of incidents;<br>
             &#8226; &nbsp;Eliminate and reduce risks through effective risk management;<br>
             &#8226; &nbsp;Ensure control measures in place to eliminate and minimize terror threats to our workplace;<br>
             &#8226; &nbsp;Comply with legislative and regulatory requirements such as Workplace Safety and Health Act;<br>
             &#8226; &nbsp;Enforce company WSH requirements for the employees to adhere;<br>
             &#8226; &nbsp;Provide employees with instructions, personal protective equipment and training for workplace safety and health practices;<br>
             &#8226; &nbsp;Conduct safety and management reviews to continually improve the effectiveness of our workplace safety and health performance;<br>
             &#8226; &nbsp;Ensure that externally supplied services for our operations comply with appropriate standards, relevant legislations and regulatory requirements</p><br>
            <p>Everyone plays an important role to maintain workplace safety and health practices.</p>
            </div>
        </div>

      
    </div>
</div>