<div class="container careers">
    <app-labeled-banner>
            <img class=" d-sm-block d-md-block d-lg-none d-xl-none" src="../../../assets/images/careers-mob.png">
            <img class=" d-sm-none d-md-none d-lg-block d-xl-block" src="../../../assets/images/careers.png">
          <h1>404</h1>
    </app-labeled-banner>
<br><br><br><br><br><br><br><br><br>
    <div class="careers-container">
        <app-header-rich-text>
            <h5>Page not found</h5>
            <h4>Content is not available.</h4>
           
        </app-header-rich-text>
        
    </div>
<br><br><br><br><br><br><br><br><br>


</div>