<div class="container about">
    <app-labeled-banner>
         <img src="../../../assets/images/about-us-banner.jpg">
         
          <h1>About Us</h1>
    </app-labeled-banner>

    <app-header-rich-text>
         <h1>MEET THE TEAM</h1>
         <p>Meet the skilled minds driving <br class="d-none d-sm-block d-md-none"> our success <br class="d-none d-lg-block"> and delivering<br class="d-none d-sm-block d-md-none"> exceptional property<br>management services</p>
         <div class="spacer" style="width: 100%; height:1px; background-color:black;"></div>
    </app-header-rich-text>
     <div class="profile-container">
          <app-profile-rich-text-img>
               <div class="profile-image">
                    <img src="../../../assets/images/ceo.png">
               </div>
               <div class="description">
                    <h1>Cheng Kian Leong</h1>
                    <h2>CEO</h2>
                    <p>
                         With over 30 years of experience in building<br class="d-none d-sm-block d-md-none">
                         construction, development, and project<br class="d-none d-sm-block d-md-none">
                         management consultancy, Mr. Cheng is a<br class="d-none d-sm-block d-md-none">
                         seasoned expert in the industry. Formerly the<br class="d-none d-sm-block d-md-none">
                         CEO of a local boutique property developer,<br class="d-none d-sm-block d-md-none">
                         he has led successful projects in residential,<br class="d-none d-sm-block d-md-none">
                         commercial, industrial, and resort<br class="d-none d-sm-block d-md-none">
                         development across Singapore, Indonesia,<br class="d-none d-sm-block d-md-none">
                         Malaysia, and Vietnam. His expertise and<br class="d-none d-sm-block d-md-none">
                         accomplishments make him a valuable asset
                         <br>to any project.<br><br>
                         • Master of Science (Civil) NUS<br>
                         • Bachelor of Engineering (Civil), Honours, NUS

                    </p>
               </div>
          </app-profile-rich-text-img>

          <app-profile-rich-text-img>
               <div class="profile-image">
                    <img src="../../../assets/images/ops.png">
               </div>
               <div class="description">
                    <h1>Mohd Nasir Mustaffa</h1>
                    <h2>Director MCST Ops</h2>
                    <p>
                         With more than 20 years of experience in<br class="d-none d-sm-block d-md-none">
                         Building Services and MCST, Nasir possesses a<br class="d-none d-sm-block d-md-none">
                         comprehensive understanding of ground-level <br class="d-none d-sm-block d-md-none">
                         issues. His expertise goes beyond technical<br class="d-none d-sm-block d-md-none"> 
                         property management, as he also holds strong<br class="d-none d-sm-block d-md-none">
                         administrative knowledge and is well verse in<br class="d-none d-sm-block d-md-none">
                         the Building Maintenance Strata Management<br class="d-none d-sm-block d-md-none">
                         Act (BMSMA) enabling him to effectively apply 
                         <br>legal principles to diverse situations.<br><br> 
                         • Diploma in Facilities & Maintenance Management <br>
                         • Certificate in Managing Agent Practice<br> 
                         • Certificate in Legislation Course in Managing Agent

                    </p>
               </div>
          </app-profile-rich-text-img>

          <app-profile-rich-text-img>
               <div class="profile-image">
                    <img src="../../../assets/images/accounts.png">
               </div>
               <div class="description">
                    <h1>Liew Chia Yen</h1>
                    <h2>Head of Trust Accounts</h2>
                    <p>
                         With more than 29 years of experience in<br class="d-none d-sm-block d-md-none">
                         financial management and trust accounts <br>within the property management industry,<br class="d-none d-sm-block d-md-none"> 
                         Chia Yen is a seasoned professional who is <br class="d-none d-sm-block d-md-none">
                         dedicated to safeguarding and optimizing the <br class="d-none d-sm-block d-md-none">
                         financial well-being of our managed <br class="d-none d-sm-block d-md-none">
                         properties. She possesses a profound<br class="d-none d-sm-block d-md-none">
                         understanding of accounting principles, <br class="d-none d-sm-block d-md-none">
                         financial regulations, and industry best<br class="d-none d-sm-block d-md-none">
                         practices allowing her to provide invaluable <br class="d-none d-sm-block d-md-none">
                         financial stewardship.<br><br>

                         • Association of Chartered Certified Accountants (ACCA)<br>
                         • Diploma in Business (Accounting)

                    </p>
               </div>
          </app-profile-rich-text-img>
     </div>
     <app-promo-rich-text-img>    
          <div class="title">
               <h1>Why Choose PFS?</h1>
          </div>

          <div class="promo">
               <div class="left-promo">
                    <div class="promo-image-container">
                         <img src="../../../assets/images/promo1.png">
                     </div>
                         <h1>Difference in MANAGEMENT</h1>
                         <p>Our people are our strength. PFS believes in<br class="d-none d-sm-block d-md-none">
                         providing unwavering support to our driven<br class="d-none d-sm-block d-md-none">
                         team of professionals in their respective areas<br class="d-none d-sm-block d-md-none">
                         of expertise so that premium service can be<br class="d-none d-sm-block d-md-none">
                         provided to our valued clients.</p>
                   
               </div>
               <div class="right-promo">
                    <div class="promo-image-container">
                         <img src="../../../assets/images/promo2.png">
                    </div>
                         <h1>Difference in FOCUS</h1>
                         <p>PFS seeks sustained growth in Singapore and <br class="d-none d-sm-block d-md-none">
                         abroad. By combining efforts and know-how<br class="d-none d-sm-block d-md-none">
                         with the holding company group of consulting<br class="d-none d-sm-block d-md-none">
                         firms, PFS seeks to establish a strong<br class="d-none d-sm-block d-md-none">
                         presence in the international real estate arena.</p>
                    
               </div>
          </div>

          
     </app-promo-rich-text-img>
</div>