<div class="container about">
    <app-labeled-banner>
         <img src="../../../assets/images/about-us-banner.png">
          <h1>About Us</h1>
    </app-labeled-banner>

    <app-header-rich-text>
         <h1>MEET THE TEAM</h1>
         <p>Meet the skilled minds <br> driving our success<br> and delivering<br> exceptional property<br>management services</p>
         <div class="spacer" style="width: 100%; height:1px; background-color:black;"></div>
    </app-header-rich-text>
     <div class="profile-container">
          <app-profile-rich-text-img>
               <img src="../../../assets/images/ceo.png">
               <h1>Cheng Kian Leong</h1>
               <h2>CEO</h2>
               <p>
                    With over 30 years of experience in building<br>
                    construction, development, and project<br>
                    management consultancy, Mr. Cheng is a<br>
                    seasoned expert in the industry. Formerly the<br>
                    CEO of a local boutique property developer,<br>
                    he has led successful projects in residential,<br> 
                    commercial, industrial, and resort<br>
                    development across Singapore, Indonesia,<br>
                    Malaysia, and Vietnam. His expertise and<br>
                    accomplishments make him a valuable asset
                    <br>to any project.<br><br>
                    • Master of Science (Civil) NUS<br>
                    • Bachelor of Engineering (Civil), Honours, NUS

               </p>
          </app-profile-rich-text-img>

          <app-profile-rich-text-img>
               <img src="../../../assets/images/ops.png">
               <h1>Mohd Nasir Mustaffa</h1>
               <h2>Director MCST Ops</h2>
               <p>
                    With more than 20 years of experience in<br> 
                    Building Services and MCST, Nasir possesses a<br> 
                    comprehensive understanding of ground-level <br>
                    issues. His expertise goes beyond technical<br> 
                    property management, as he also holds strong<br> 
                    administrative knowledge and is well verse in<br> 
                    the Building Maintenance Strata Management<br>
                    Act (BMSMA) enabling him to effectively apply 
                    <br>legal principles to diverse situations.<br><br> 
                    • Diploma in Facilities & Maintenance Management <br>
                    • Certificate in Managing Agent Practice<br> 
                    • Certificate in Legislation Course in Managing Agent

               </p>
          </app-profile-rich-text-img>

          <app-profile-rich-text-img>
               <img src="../../../assets/images/accounts.png">
               <h1>Cheng Kian Leong</h1>
               <h2>Head of Trust Accounts</h2>
               <p>
                    With more than 29 years of experience in<br> 
                    financial management and trust accounts <br>within the property management industry,<br> 
                    Chia Yen is a seasoned professional who is <br>
                    dedicated to safeguarding and optimizing the <br>
                    financial well-being of our managed <br>
                    properties. She possesses a profound<br>
                    understanding of accounting principles, <br>
                    financial regulations, and industry best<br>
                    practices allowing her to provide invaluable <br>
                    financial stewardship.<br><br>

                    • Association of Chartered Certified Accountants (ACCA)<br>
                    • Diploma in Business (Accounting)

               </p>
          </app-profile-rich-text-img>
     </div>
     <app-promo-rich-text-img>    
          <div class="title">
               <h1>Why Choose PFS?</h1>
          </div>

          <div class="promo">
               <div class="left-promo">
                    <img src="../../../assets/images/promo1.png">
                    <h1>Difference in MANAGEMENT</h1>
                    <p>Our people are our strength. PFS believes in<br> 
                    providing unwavering support to our driven<br> 
                    team of professionals in their respective areas<br> 
                    of expertise so that premium service can be<br> 
                    provided to our valued clients.</p>
               </div>
               <div class="right-promo">
                    <img src="../../../assets/images/promo2.png">
                    <h1>Difference in FOCUS</h1>
                    <p>PFS seeks sustained growth in Singapore and <br>
                    abroad. By combining efforts and know-how<br> 
                    with the holding company group of consulting<br> 
                    firms, PFS seeks to establish a strong<br> 
                    presence in the international real estate arena.</p>
               </div>
          </div>

          
     </app-promo-rich-text-img>
</div>