<div class="container services">
    <app-labeled-banner>
         <img src="../../../assets/images/services-banner.png">
          <h1>Services</h1>
    </app-labeled-banner>

    <div class="services-card-container">
        <app-services-card>
            <div class="services-text-container">
                <h1>Integrated Facility<br>Management</h1>
                <p>Streamlining processes, reducing operational costs,<br> 
                and enhancing occupant experiences by combining<br> 
                various services under a single management entity,<br>
                fostering collaboration and synergy among different<br> 
                facility management functions.
                </p>
            </div>

            <div class="services-img-container">
                <img src="../../../assets/images/engineer.png">
                <div class="box upper-right"></div>
            </div>
        </app-services-card>

        <app-services-card>
            <div class="services-text-container">
                <h1>Property Management</h1>
                <p>Day-to-day management and administration of<br>
                properties, ensu ring that the properties are well-<br>
                maintained, financially sound, and attractive to<br>
                tenants or occupants.
                </p>
            </div>

            <div class="services-img-container">
                <img src="../../../assets/images/property.png">
                <div class="box mid-left"></div>
            </div>
        </app-services-card>

        <app-services-card>
            <div class="services-text-container">
                <h1>Trust Accounting</h1>
                <p>Meticulous management and recording of funds held<br> 
                on behalf of others, ensuring accuracy, transparency,<br>
                and compliance with legal and ethical standards.
                </p>
            </div>

            <div class="services-img-container">
                <img src="../../../assets/images/accounting.png">
                <div class="box mid-right"></div>
            </div>
        </app-services-card>

        <app-services-card>
            <div class="services-text-container">
                <h1>Project Management for<br>
                 Upgrading & Improvement<br>
                Works</h1>
                <p>Overseeing the planning, execution, and coordination<br> 
                of all activities to enhance and renovate while<br> 
                ensuring successful project delivery within defined<br> 
                timelines and budgets.
                </p>
            </div>

            <div class="services-img-container">
                <img src="../../../assets/images/management.png">
                <div class="box mid-left"></div>
            </div>
        </app-services-card>

    </div>
</div>