<div class="container careers">
    <app-labeled-banner>
            <img class=" d-sm-block d-md-block d-lg-none d-xl-none" src="../../../assets/images/careers-mob.png">
            <img class=" d-sm-none d-md-none d-lg-block d-xl-block" src="../../../assets/images/careers.png">
          <h1>Careers</h1>
    </app-labeled-banner>

    <div class="careers-container">
        <app-header-rich-text>
            <h5>JOIN US</h5>
            <h4>Join Our Team</h4>
            <p>We are constantly looking for motivated, skilled,<br class="d-none d-sm-block d-md-none">
            and qualified people to join our team of talented<br class="d-none d-sm-block d-md-none">
            employees. If you wish to apply for any of the<br class="d-none d-sm-block d-md-none d-lg-block">
            following position, please send your detailed<br class="d-none d-sm-block d-md-none">
            resume to hr&#64;pfspl.com.sg.</p>
        </app-header-rich-text>
        
    </div>

    <div class="career-posting-container">

        <div class="career-item">
            <div class="location">
                <h2>OVERSEAS POSTING</h2>
            </div>

            <div class="position">
                <h1>Building Manager</h1>
            </div>

            <div class="stream">
                <p>Strategy Services</p>
            </div>
        </div>

        <div class="career-item">
            <div class="location">
                <h2>LOCAL POSTING</h2>
            </div>

            <div class="position">
                <h1>Condominium / Complex Manager</h1>
            </div>

            <div class="stream">
                <p>Strategy Services</p>
            </div>
        </div>

        <div class="career-item">
            <div class="location">
                 <h2>LOCAL POSTING</h2>
            </div>

            <div class="position">
                <h1>Property Officer /Property Executive</h1>
            </div>

            <div class="stream">
                <p>Strategy Services</p>
            </div>
        </div>

        <div class="career-item">
            <div class="location">
                <h2>OVERSEAS POSTING</h2>
            </div>

            <div class="position">
                <h1>Admin Assistant</h1>
            </div>

            <div class="stream">
                <p>Strategy Services</p>
            </div>
        </div>
    </div>

</div>