<div class="container menu">
  
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
  <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#"><img src= "{{envPath}}/images/pfslogo.png"></a>
  @if(!isMenuShow){
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  }@else{
    <button type="button" class="navbar-toggler btn-close" aria-label="Close" (click)="toggleMenu()"></button>
  }
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link homeLink active" routerLink="/home" (click)="changePage()">Home</a>
      <a class="nav-item nav-link aboutusLink" routerLink="/about-us"  (click)="changePage()">About Us</a>
      <a class="nav-item nav-link servicesLink">Services 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill d-none d-lg-inline" viewBox="0 0 16 16">
          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
      </a>

        <div class="subnav-content">
          <a class="nav-item nav-link" routerLink="/services"  (click)="changePage()">Our Services</a>
          <a class="nav-item nav-link" routerLink="/properties"  (click)="changePage()">Property Management</a>
        </div>
      <a class="nav-item nav-link contactLink" routerLink="/contact-us"  (click)="changePage()">Contact Us</a>
    </div>
  </div>
</nav>
</div>