
<div class="container home-banner">


<figure class="banner-img-container image">
    <img src="{{envPath}}/images/homepage_banner.jpg" class="home-banner-img">
    <figcaption>
        <h1>Elevate <br class="d-sm-block d-md-block d-lg-none">Your  Property <br class="d-sm-block d-md-block  d-lg-none"> Management</h1><br>
        <p class="tagline">Efficient, Reliable, and Tailored Solutions <br class="d-sm-block d-md-block d-lg-none"> to Maximize <br class="d-none d-lg-block"> Your Property's Potential</p>
    </figcaption>
    
</figure>
    
</div>